<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no,user-scalable=no">
        <title>Poster&Fixer</title>
        <link rel="shortcut icon" href="img/title.jpg" />
        <!-- --------styles------------- -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="style/main.css">
       
    </head>
<body>
    <!-- -------header section starts--------- -->
    <header>
        <div class="navbar1">
            <img src="img/logo.png" alt="logo">
			<a href="contact.html">Contact Us</a>
            <a href="registration.html">Signup</a>
            <a href="login.html">Login</a>
            <a href="#working">How It Works</a>
            <a href="#about">About Us</a>
            <a href="index.html">Home</a>
            <!----<a href="">Logout</a>------>
        </div>         
    </header>
    <!-- -------------header section ends------------ -->

    <!-- ---------------slider section starts-------------- -->
    <div class="slider">
        <div class="btns">
            <button onclick="window.location.href='poster_dash.html';">I Want To Post</button>
            <button onclick="window.location.href='fixer_dash.html';">I Want To Fix</button> 
        </div>
        <figure>
            <img src="img/slides/avel-chuklanov-DUmFLtMeAbQ-unsplash.jpg">
            <img src="img/slides/annie-spratt-sggw4-qDD54-unsplash.jpg">
            <img src="img/slides/marvin-meyer-SYTO3xs06fU-unsplash.jpg">
            <img src="img/slides/jeshoots-com-LtNvQHdKkmw-unsplash.jpg">      
        </figure>   
    </div>
    <!-- ---------------slider section ends-------------- -->

   
 

    <!-- -------------footer section starts-------------- -->
    <footer>

    </footer>
    <!-- -------------footer section ends------------ -->

<!-- -----------------scripts------------------ -->
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script src="script/main.js"></script>
</body>
</html>
